.spinner-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    z-index: 10;
    background: black;
    opacity: 0.6;
    pointer-events: none;
}

.spinner {
    top: 40%;
}
